/*******************************************************************************
 *
 * Nom : style.css
 * Date et auteur :
 *      HAMZA Raiden   
 *		Créé le 16/09/2026
 *
 * Description :
 *		Fichier CSS du TP initiation au langage développement Web
 *
 *******************************************************************************/

* {
  box-sizing: border-box;
}

body{
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.5em;
}

header{
    background-color: darkgray;
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: 1.2em;
    padding: 10px;
    margin: 10px;
}

footer{
    background-color: darkgray;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

section{
    padding: 10px;
    margin: 10px;
}

article{
    padding: 10px;
    margin: 10px;
    border: dashed 2px gray;
}

p{
    padding: 10px;
    margin: 10px;
}

h1{
    color: red;
    text-align: center;
    font-size: 2em;
    font-variant-caps: small-caps;
}

h2{
    padding: 10px;
    background-color: red;
    border-left: solid 50px black;
    text-transform: capitalize;
}


#info{
    width:600px;
    background-color:brown;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    padding: 10px;
    margin: auto;
}

.documentation{
    background-color: green;
    color: white;
    padding: 10px;    
}

.documentation a{
    text-decoration: none;
    background-color: darkgreen;
    color: yellowgreen;
    padding: 5px;
 }

.documentation a:hover{
    background-color: lightgreen;
    color: darkgreen;
 }

 .code{
    font-family: 'Courier';
    background-color: lightgray;
    border:solid 1px gray;
    border-radius: 5px;
 }

 pre{
    padding: 10px;
    margin: 10px;
 }

 table{
    width:100%;
    margin: auto;
    line-height: 2em;
 }

 th{
    background-color: darkblue;
    color:white;
    height: 3em;
 }

 th, td{
    border: solid 1px black;
    padding: 10px;
    text-align: center;
 }

 tr:nth-child(even){
    background-color: lightblue;
 }

  tr:last-child{
    color: blue;
  }

